* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
main {
  background-color: rgb(226, 222, 216);
  position: relative;
  /* margin: 10px; */
  height: 100vh;
  border: 1px solid rgb(224, 205, 205);
}
.first {
  /* background-color: black; */
  margin-top: 50px;
  margin-right: 60px;
  margin-left: 600px;
}
input {
  height: 1.6rem;
  border-radius: 5px;
}
.second {
  /* background-color: yellow; */
  padding-right: 40px;
}
h1 {
  font-size: 50px;
  margin-left: 1ppx;
}
