*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    
}
body,html{
  width: 100%;
  height: 100%;
  
}

nav {
  position: fixed;
  z-index: 1;
  width: 100%;
    background-color: #333;
    padding: 10px;
    text-align: center;
    height: 50px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

    margin-top: 10px;
    gap: 10px;
    
  }

  i{
    color: #00d5ff;
    font-size: xx-large;
  }
  .pro{
    color: #00d5ff;
    font-size: xx-large;
  }
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
    margin-left: 20px;
    
  }
  
  nav a:hover {
    color: #ccc;
  }
  
  nav a.active {
    color: #66d9ef;
  }

nav .first{
  position: absolute;
  right: 90px;
    /* margin-left:  1000px; */
    margin-top: -35px;
}
  .f{
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  margin-left: 10px;
  }
  button{
    border-radius: 2rem;
    height: 35px;
    width: 100px;
    background-color: #69e6ff;
  }
  button:hover{
    /* color: #00768d; */
    background-color: #00d5ff;
  }
  body img{
    width: 100%;
    height: 50rem;
    object-fit: cover     ;
  }
  nav img{
    
    width:50px;
    height: 20px;
  }
  .sec img{
    width: 80%;
    height: 20rem;
  }
.sec{
  display: flex;
}
.p h1{
  margin-top: 5px;
  padding-left: 90px;
}
.p h4{
  padding-left: 110px;
  width: fit-content;
  height: fit-content;
}
.N{
  position: relative;
  left: 35px;
}
.M{
  text-align: center;
  color: #00d5ff;
}
#team h2{
  text-align: center;
}
h2{
  position: relative;
  /* left: 46.5%; */
}

.K{
 text-align: center;
  margin-bottom: 10px;
  width: 100%;
  height: fit-content;
}
.D{
  width: 300px;
  height: fit-content;
  margin-left: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mid2 img{
  width: 30%;
  height :50%;
}
.mid2{
  margin-top: 10px;
  background-color: #f5f5f5;
}
.mid2 h1{
  font-size: 50px;
  margin-left: 50%;
  color: #00d5ff  ;
}
.Z{
  /* color: whitesmoke; */
  display: flex;
}
.A h2{
font-size: xx-large;
}
.Z img{
  height: 27rem;
}
.mid2 hr{
  margin-top: 1%;
}
.B p{
  color: #000000;
  
}
.V h1{
  
  margin-left: 50%;
  font-size: 50px;
  height: fit-content;
  width: fit-content;
  color: #00d5ff;
  
}
.V {
  text-align: center;
  padding: 20px;
}

.V h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.V img {
  width: 400px;
  height: 350px;
  margin: 15px; /* Adds a gap between the images */
}
.pi {
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.V{

  background-color: #333;
}
.V a{
  text-decoration: none;
}

/* Portfolio Section */
#portfolio {
  padding: 50px 20px;
  text-align: center;
  background-color: #f5f5f5;
}

#portfolio h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

#portfolio p {
  font-size: 1.2em;
  margin-bottom: 40px;
  color:#000000;
}

.portfolio-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.portfolio-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.portfolio-item img {
  width: 100%;
  height: auto;
  display: block;
}

.portfolio-details {
  padding: 15px;
  text-align: left;
}

.portfolio-details h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #010202;
}

.portfolio-details p {
  font-size: 1em;
  color: #555;
}
.nik{
  font-size: 50px;
  color: #00d5ff;
}
.container h2,p,h4{
 color: white;  /* background-color: black; */
}
.container{
  
  background-color:#333;
}
.px h1{
  position: relative;
  height: fit-content;
  width: fit-content;
  left: 15%;
  color: white;
}
.px h4{
  position: relative;
  left: 20%;
  height: fit-content;
  width: fit-content;
}


/* Container for the form */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Style each form group */
.form-group {
  margin-bottom: 15px;
}

/* Style the labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style the input fields and textarea */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the textarea separately */
textarea {
  height: 100px;
  resize: vertical;
}

#contact h1{
  position: relative;
  left: 40%;
  color: #00d5ff;
  font-size: 50px;
height: fit-content;
width: fit-content;
}
#contact p{
  position: relative;
  left: 10%;
  margin-bottom: 20px;
  height: fit-content;
  width: fit-content;
}

.social-media h2{
  color: #00d5ff;
  font-size: 50px;
  position: relative;
  left: 40%;
  height: fit-content;
  width: fit-content;
}
.social-media {
  text-align: center; /* Center the social media icons */
  margin-top: 20px; /* Optional: adds space above the section */
}

.social-media a {
  display: inline-block;
  margin: 0 10px; /* Horizontal space between images */
}

.social-media img {
  width: 40px; /* Adjust size of the icons */
  height: auto;
}

